<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>我的订单 | 数字图片湖北</title>
	<meta charset="utf-8">
	{% include 'SkatingCmsBundle:Front/blocks:head_info.html.twig' %}
</head>
<body>
    {% include 'SkatingCmsBundle:Front/blocks:header.html.twig' %}

	{% block maincontent %}
	<div class="g-order m-form">
		<div class="main-wrap">
			<div class="main container">
				<div class="order-info clearfix">
					<div class="order-tab nav">
						<a class="selected">已完成订单</a>
						<a>未完成订单</a>
					</div>
					<div class="order-search">
						<input type="text" class="input-text" placeholder="订单号">
						<input type="text" class="input-text" placeholder="开始时间">
						<input type="text" class="input-text" placeholder="结束时间">
						<button type="submit" class="button z-button">查找订单</button>
					</div>
				</div>
				<div class="order-list order-list-1">
					<div class="order-title">
						<ul class="clearfix">
							<li class="td-1">图片</li>
							<li class="td-2">授权</li>
							<li class="td-3">购买时间</li>
							<li class="td-4">价格</li>
							<li class="td-5">状态</li>
							<li class="td-6">下载</li>
						</ul>
					</div>
					<div class="order-item">
						<div class="order-id">
							<span>订单号：1234098102</span>
							<a href="javascript:;" class="toRight">删除</a>
						</div>
						<ul class="clearfix">
							<li class="td-1">
								<div class="item-pic">
									<img src="{{baseurl}}/theme/{{theme}}/images/cart/default.jpg" alt="商品预览" class="itempic">
									<span>rad4567890123[RF]</span>
								</div>
							</li>
							<li class="td-2">
								<div class="item-info">
									<dl>
										<dd><span>尺寸</span>：10M</dd>
										<dd><span>用途</span>：编辑用途-5</dd>
										<dd><span>授权时间</span>：1年内单次使用</dd>
									</dl>
									<a href="javascript:;" class="button z-button">下载授权书</a>
								</div>
							</li>
							<li class="td-3">
								<div class="item-time row-1">
									<span>2016-01-02 13:11:35</span>
								</div>
							</li>
							<li class="td-4">
								<div class="item-price row-1">
									<span><em>￥160.00</em></span>
								</div>
							</li>
							<li class="td-5">
								<div class="item-sate row-1">
									<span>交易成功</span>
								</div>
							</li>
							<li class="td-6">
								<div class="item-download">
									<a href="javascript:;" class="button">下载</a>
									<br>
									<span>（请于购买日起30天内完成下载）</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="order-item">
						<div class="order-id">
							<span>订单号：1234098102</span>
							<a href="javascript:;" class="toRight">删除</a>
						</div>
						<ul class="clearfix">
							<li class="td-1">
								<div class="item-pic">
									<img src="{{baseurl}}/theme/{{theme}}/images/cart/default.jpg" alt="商品预览" class="itempic">
									<span>rad4567890123[RF]</span>
								</div>
							</li>
							<li class="td-2">
								<div class="item-info">
									<dl>
										<dd><span>尺寸</span>：10M</dd>
										<dd><span>用途</span>：编辑用途-5</dd>
										<dd><span>授权时间</span>：1年内单次使用</dd>
									</dl>
									<a href="javascript:;" class="button z-button">下载授权书</a>
								</div>
							</li>
							<li class="td-3">
								<div class="item-time row-1">
									<span>2016-01-02 13:11:35</span>
								</div>
							</li>
							<li class="td-4">
								<div class="item-price row-1">
									<span><em>￥160.00</em></span>
								</div>
							</li>
							<li class="td-5">
								<div class="item-sate row-1">
									<span>交易成功</span>
								</div>
							</li>
							<li class="td-6">
								<div class="item-download">
									<a href="javascript:;" class="button">下载</a>
									<br>
									<span>（请于购买日起30天内完成下载）</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="order-item">
						<div class="order-id">
							<span>订单号：1234098102</span>
							<a href="javascript:;" class="toRight">删除</a>
						</div>
						<ul class="clearfix">
							<li class="td-1">
								<div class="item-pic">
									<img src="{{baseurl}}/theme/{{theme}}/images/cart/default.jpg" alt="商品预览" class="itempic">
									<span>rad4567890123[RF]</span>
								</div>
							</li>
							<li class="td-2">
								<div class="item-info">
									<dl>
										<dd><span>尺寸</span>：10M</dd>
										<dd><span>用途</span>：编辑用途-5</dd>
										<dd><span>授权时间</span>：1年内单次使用</dd>
									</dl>
									<a href="javascript:;" class="button z-button">下载授权书</a>
								</div>
							</li>
							<li class="td-3">
								<div class="item-time row-1">
									<span>2016-01-02 13:11:35</span>
								</div>
							</li>
							<li class="td-4">
								<div class="item-price row-1">
									<span><em>￥160.00</em></span>
								</div>
							</li>
							<li class="td-5">
								<div class="item-sate row-1">
									<span>交易成功</span>
								</div>
							</li>
							<li class="td-6">
								<div class="item-download">
									<a href="javascript:;" class="button">下载</a>
									<br>
									<span>（请于购买日起30天内完成下载）</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="m-page-wrap">
						<div class="m-page clearfix">
							<ul class="clearfix">
								<li class="item pager pager-disable">
									<a href="javascript:;"> <i class="icon_prev"></i>
										上一页
									</a>
								</li>
								<li class="item current">
									<a href="javascript:;">1</a>
								</li>
								<li class="item">
									<a href="javascript:;">2</a>
								</li>
								<li class="item">
									<a href="javascript:;">3</a>
								</li>
								<li class="item">
									<a href="javascript:;">4</a>
								</li>
								<li class="item">
									<a href="javascript:;">5</a>
								</li>
								<li class="item dot">
									<span>...</span>
								</li>
								<li class="item pager">
									<a href="javascript:;">
										下一页 <i class="icon_next"></i>
									</a>
								</li>
							</ul>
							<ul class="right">
								<span>共100页，到第</span>
								<input class="input" type="number" value="2" min="1" max="100">
								<span>页</span>
								<button class="btn" type="submit">确定</button>
							</ul>
						</div>
					</div>
				</div>
				<div class="order-list order-list-2">
					<div class="order-title">
						<ul class="clearfix">
							<li class="td-1">图片</li>
							<li class="td-2">授权</li>
							<li class="td-3">购买时间</li>
							<li class="td-4">价格</li>
							<li class="td-5">状态</li>
							<li class="td-6">下载</li>
						</ul>
					</div>
					<div class="order-item">
						<div class="order-id">
							<span>无</span>
							<a href="javascript:;" class="toRight">删除</a>
						</div>
						<ul class="clearfix">
							<li class="td-1">
								<div class="item-pic">
									<img src="" alt="无信息" class="itempic">
									<span></span>
								</div>
							</li>
							<li class="td-2">
								<div class="item-info">
									<dl>
										<dd><span>尺寸</span>：暂无信息</dd>
										<dd><span>用途</span>：暂无信息</dd>
										<dd><span>授权时间</span>：暂无信息</dd>
									</dl>
									<a href="javascript:;" class="button z-button">下载授权书</a>
								</div>
							</li>
							<li class="td-3">
								<div class="item-time row-1">
									<span>暂无信息</span>
								</div>
							</li>
							<li class="td-4">
								<div class="item-price row-1">
									<span><em>暂无信息</em></span>
								</div>
							</li>
							<li class="td-5">
								<div class="item-sate row-1">
									<span>暂无信息</span>
								</div>
							</li>
							<li class="td-6">
								<div class="item-download">
									<a href="javascript:;" class="button">下载</a>
									<br>
									<span>（请于购买日起30天内完成下载）</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

    {% include 'SkatingCmsBundle:Front/blocks:footer.html.twig' %}

	<script src="{{baseurl}}/theme/{{theme}}/js/main.min.js"></script>
	<script src="{{baseurl}}/theme/{{theme}}/js/module.min.js"></script>
</body>
</html>