{% block sdbar %}
	<div class="g-sdbar">
		<div class="sdbar-wrap">
			<div class="sdbar">
				<ul>
					<li>
						<a href="javascript:;"> <i class="icon-submit"></i>
							<span class="text">我要投稿</span>
						</a>
					</li>
					<li>
						<a href="javascript:;"> <i class="icon-weibo"></i>
							<span class="qrcode">微博</span>
							<img class="qrcode" src="{{baseurl}}/theme/{{theme}}/images/qrcode.jpg" alt="微博">
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<i class="icon-wechat"></i>
							<span class="qrcode">微信</span>
							<img class="qrcode" src="{{baseurl}}/theme/{{theme}}/images/qrcode.jpg" alt="微博">
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<i class="icon-service"></i>
							<span  class="text">联系客服</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<i class="icon-app"></i>
							<span  class="text">下载app</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-top"></i>
							<span  class="text">返回顶部</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div class="g-footer">
		<div class="footer-wrap">
			<div class="footer-service-wrap">
				<div class="footer-service container">
					<ul>
						<li><a href="javascript:;"><i class="camera"></i><span>百万高清图库</span></a></li>
						<li><a href="javascript:;"><i class="photographer"></i><span>百万摄影名家</span></a></li>
						<li><a href="javascript:;"><i class="graph"></i><span>珍贵历史图集</span></a></li>
						<li class="last-service"><a href="javascript:;"><i class="vip"></i><span>高端定制服务</span></a></li>
					</ul>
				</div>
			</div>
			<div class="footer-info-wrap">
				<div class="footer-info container clearfix">
					<div class="links clearfix">
						<dl>
							<dt>关于</dt>
							<dd><a href="http://achuan.me/projects/HB/about_us.html">关于我们</a></dd>
							<dd><a href="javascript:;">版权声明</a></dd>
							<dd><a href="javascript:;">网站地图</a></dd>
							<dd><a href="javascript:;">合作单位</a></dd>
							<dd><a href="javascript:;">留言反馈</a></dd>
						</dl>
						<dl>
							<dt>服务</dt>	
							<dd><a href="http://202.114.71.171/~2013g2/service/atlas">画册影集</a></dd>
							<dd><a href="http://202.114.71.171/~2013g2/service/documentary">记录跟拍</a></dd>
							<dd><a href="http://202.114.71.171/~2013g2/service/training">摄影培训</a></dd>
							<dd><a href="http://202.114.71.171/~2013g2/service/custom">定制摄影</a></dd>
							<dd><a href="http://202.114.71.171/~2013g2/service/advertisement">商业广告</a></dd>
							<dd><a href="http://202.114.71.171/~2013g2/service/aerial">航拍</a></dd>
							<dd><a href="http://202.114.71.171/~2013g2/service/recopy">艺术品翻拍</a></dd>
						</dl>
						<dl>
							<dt>联系我们</dt>
							<dd><a href="javascript:;">联系电话</a></dd>
							<dd><a href="javascript:;">地址：武汉市东湖路翠柳街1号</a></dd>
						</dl>
						<dl>
							<dt>友情链接</dt>
							<dd><a href="http://www.cflac.org.cn/" target="_blank">中国文艺网</a></dd>
							<dd><a href="http://www.chinaculture.org/gb/cn_zgwh/2004-06/28/content_53744.htm" target="_blank">中国画报网</a></dd>
							<dd><a href="http://www.cpanet.org.cn/" target="_blank">中国摄协网</a></dd>
							<dd><a href="http://www.hbswl.gov.cn/" target="_blank">湖北文艺网</a></dd>
							<dd><a href="http://www.hubei.gov.cn/" target="_blank">湖北省人民政府网</a></dd>
							<dd><a href="javascript:;" target="_blank">&gt;更多</a></dd>
						</dl>
					</div>
					<div class="qrcode">
						<dl>
							<dt><img src="{{baseurl}}/theme/{{theme}}/images/qrcode.jpg" alt="关注我们 微信公众号"></dt>
							<dd>关注湖北画报<br>微信公众号</dd>
						</dl>	
					</div>					
				</div>
			</div>
			<div class="footer-copyright">
				<p>Copyright 2013 hbhbs.com All Rights Reserved Powered By WordPress 鄂ICP备13004753号</p>
			</div>
		</div>
	</div>
{% endblock %}