<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务 | 数字图片湖北 </title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<link rel="shortcut icon" href="{{baseurl}}/theme/{{theme}}/images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/reset.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/base_block.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/module.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/pages.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/response.css">
	<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
</head>
<body>
    {% include 'SkatingCmsBundle:Front/blocks:header.html.twig' %}

	{% block maincontent %}
	<div class="g-content-service">
		<div class="content-service-wrap">
			<div class="content-service container clearfix">
				<div class="left">
					<h2>产品服务项目</h2>
					{% include 'SkatingCmsBundle:Front/blocks:service_sdnav.html.twig' %}
				</div>
				<div class="main">
					<div id="advertisement" class="service-item service-5">
						<div class="row row-1">
							<h2>产品展示</h2>
							<div class="content">
							    <div class="text">
									<p>
										我们致力于为企业提供全面、丰富的网络视觉解决方案。拍摄风格多样新颖，不断超越自我。让每一位客人都能焕发闪耀的光彩是我们的目标职责！
									</p>
									<p>
										湖北画报一直致力于企业、团体、机构的商业摄影等方面的品牌设计塑造工作，帮助企业的产品得到最好的呈现。在发展过程中，我们与业内专家及知名公司进行合作，并受众多国际品牌委托设计合作，取得良好的品牌效应。伴随客户成长，见证市场发展与变革,为所有谋求长远发展的中大小型企业提供专业化的设计服务。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_1.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_2.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_3.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_4.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_5.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_6.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_7.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_5_8.jpg" alt="产品展示"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于商业广告服务想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

    {% include 'SkatingCmsBundle:Front/blocks:footer.html.twig' %}
	<script src="{{baseurl}}/theme/{{theme}}/js/main.min.js"></script>
	<script src="{{baseurl}}/theme/{{theme}}/js/module.min.js"></script>
	<script type="text/javascript" >
		$(document).ready(imgView(".g-content-service .service-item .preview-img"));

		// 获取link的href，与service的id进行比较
		$(".g-content-service .left li").each(function() {
			var $this = $(this);
			var $link = $this.find("a");
			var href = $link.attr("href");
			$this.attr("title", href);
			var $title = $(this).attr("title");
			var temp = $(".g-content-service .main .service-item").attr("id"); 
			if($title == temp) {
				$this.siblings("li").removeClass("current");
				$this.addClass("current");
			}
		})
	</script>
</body>
</html>