<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务 | 数字图片湖北 </title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<link rel="shortcut icon" href="{{baseurl}}/theme/{{theme}}/images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/reset.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/base_block.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/module.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/pages.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/response.css">
	<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
</head>
<body>
    {% include 'SkatingCmsBundle:Front/blocks:header.html.twig' %}

	{% block maincontent %}
	<div class="g-content-service">
		<div class="content-service-wrap">
			<div class="content-service container clearfix">
				<div class="left">
					<h2>产品服务项目</h2>
					{% include 'SkatingCmsBundle:Front/blocks:service_sdnav.html.twig' %}
				</div>
				<div class="main">
					<!-- 摄影图集 begin -->
					<div id="atlas" class="service-item service-1">
						<div class="row row-1">
							<h2>图册影集</h2>
							<div class="content">
								<div class="display">
									<img src="{{baseurl}}/theme/{{theme}}/images/service/service_item/display_1.jpg" alt="展示">
								</div>
								<div class="text">
									<p>
										各种文化创意产品的制作销售，比如制作摄影作品的明信片、海报、喷绘，制作各类特色相框等。某些湖北各市县举办活动需要的卡片、礼品包装的设计，配图选择等。
									</p>
									<p>
										经验丰富的排版专员，为您定制图册影集的设计服务我们使用业界领先的爱普生艺术微喷机+日本原装9色墨水组合，确保最高品质的色彩。
									</p>
									<p>
										利用自身已有资源，制作相关产品，如，抗战胜利60周年，利用老照片资源，制作相关明信片。围绕相关活动、策划，制作周边产品。如，为摄天下的外拍、扫街活动提供纪念影集、画册。
									</p>
									<p>
										订制化服务，根据客户具体要求，提供摄影服务及相关产品一条龙服务；或客户自己提供影像资料，为其提供版式、印刷等后续服务。
									</p>
								</div>
							</div>
						</div>
						<div class="row row-2">
							<h2>成品展示</h2>
							<div class="content">
								<div class="product">
									<ul>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_1_1.jpg" alt="成品展示"></a></li>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_1_2.jpg" alt="成品展示"></a></li>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_1_3.jpg" alt="成品展示"></a></li>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_1_4.jpg" alt="成品展示"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于图片影集定制服务想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
					<!-- 摄影图集 end -->
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

    {% include 'SkatingCmsBundle:Front/blocks:footer.html.twig' %}
	<script src="{{baseurl}}/theme/{{theme}}/js/main.min.js"></script>
	<script src="{{baseurl}}/theme/{{theme}}/js/module.min.js"></script>
	<script type="text/javascript" >
		$(document).ready(imgView(".g-content-service .service-item .preview-img"));

		// 获取link的href，与service的id进行比较
		$(".g-content-service .left li").each(function() {
			var $this = $(this);
			var $link = $this.find("a");
			var href = $link.attr("href");
			$this.attr("title", href);
			var $title = $(this).attr("title");
			var temp = $(".g-content-service .main .service-item").attr("id"); 
			if($title == temp) {
				$this.siblings("li").removeClass("current");
				$this.addClass("current");
			}
		})
	</script>
</body>
</html>