<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务 | 数字图片湖北 </title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<link rel="shortcut icon" href="{{baseurl}}/theme/{{theme}}/images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/reset.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/base_block.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/module.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/pages.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/response.css">
	<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
</head>
<body>
    {% include 'SkatingCmsBundle:Front/blocks:header.html.twig' %}

	{% block maincontent %}
	<div class="g-content-service">
		<div class="content-service-wrap">
			<div class="content-service container clearfix">
				<div class="left">
					<h2>产品服务项目</h2>
					{% include 'SkatingCmsBundle:Front/blocks:service_sdnav.html.twig' %}
				</div>
				<div class="main">
					<div id="custom" class="service-item service-4">
						<div class="row row-1">
							<h2>定制项目展示</h2>
							<div class="content">
								<div class="text">
									<p>
										我们采用非影楼标准流程，完全按照不同客户的个人气质特征、图片用途，为客户量身定制商业拍摄。拍摄项目包括：企业家的个人形象片，艺术家的个人形象片，时尚人士的个人写真，热爱生活人士的创意情侣婚纱，以及活动定制。
									</p>
									<p>
										湖北画报以拍摄时尚杂志时装大片的手法，提供包括前期创意，沟通策划拍摄方案，制定拍摄脚本，高品质拍摄，精致的后期制作，如有必要还提供专业设计和印刷等服务，专为有品位、追求时尚的人士打造高端私人定制摄影服务，提高摄影品质，凸显尊贵地位。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_4_1.jpg" alt="成品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_4_2.jpg" alt="成品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_4_3.jpg" alt="成品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_4_4.jpg" alt="成品展示"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于活动定制想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

    {% include 'SkatingCmsBundle:Front/blocks:footer.html.twig' %}
	<script src="{{baseurl}}/theme/{{theme}}/js/main.min.js"></script>
	<script src="{{baseurl}}/theme/{{theme}}/js/module.min.js"></script>
	<script type="text/javascript" >
		$(document).ready(imgView(".g-content-service .service-item .preview-img"));

		// 获取link的href，与service的id进行比较
		$(".g-content-service .left li").each(function() {
			var $this = $(this);
			var $link = $this.find("a");
			var href = $link.attr("href");
			$this.attr("title", href);
			var $title = $(this).attr("title");
			var temp = $(".g-content-service .main .service-item").attr("id"); 
			if($title == temp) {
				$this.siblings("li").removeClass("current");
				$this.addClass("current");
			}
		})
	</script>
</body>
</html>