<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务 | 数字图片湖北 </title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<link rel="shortcut icon" href="{{baseurl}}/theme/{{theme}}/images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/reset.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/base_block.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/module.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/pages.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/response.css">
	<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
</head>
<body>
    {% include 'SkatingCmsBundle:Front/blocks:header.html.twig' %}

	{% block maincontent %}
	<div class="g-content-service">
		<div class="content-service-wrap">
			<div class="content-service container clearfix">
				<div class="left">
					<h2>产品服务项目</h2>
					{% include 'SkatingCmsBundle:Front/blocks:service_sdnav.html.twig' %}
				</div>
				<div class="main">
					<div id="training" class="service-item service-3">
						<div class="row row-1">
							<h2>培训信息</h2>
							<div class="info-list clearfix">
								<div class="info-item">
									<div class="img-box">
										<img src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_3_1.jpg" alt="培训信息">
									</div>
									<dl>
										<dt>摄影基础概论、相机的基本操作</dt>
										<dd>主讲人：周健</dd>
										<dd>时间：12月9日 19:00-21:30</dd>
										<dd>地点：武昌中北路洪山广场楚天都市花园D座22A</dd>
									</dl>
								</div>
								<div class="info-item">
									<div class="img-box">
										<img src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_3_2.jpg" alt="培训信息">
									</div>
									<dl>
										<dt>摄影构图、摄影用光</dt>
										<dd>主讲人：张贵洪</dd>
										<dd>时间：12月9日 15:00-17:00</dd>
										<dd>地点：武昌中北路洪山广场楚天都市花园D座22A</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="row row-2">
							<h2>精彩分享</h2>
							<div class="content">
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_3_3.jpg" alt="精彩分享"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_3_4.jpg" alt="精彩分享"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_3_5.jpg" alt="精彩分享"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="{{baseurl}}/theme/{{theme}}/images/service/service_item/content_3_6.jpg" alt="精彩分享"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

    {% include 'SkatingCmsBundle:Front/blocks:footer.html.twig' %}
	<script src="{{baseurl}}/theme/{{theme}}/js/main.min.js"></script>
	<script src="{{baseurl}}/theme/{{theme}}/js/module.min.js"></script>
	<script type="text/javascript" >
		$(document).ready(imgView(".g-content-service .service-item .preview-img"));

		// 获取link的href，与service的id进行比较
		$(".g-content-service .left li").each(function() {
			var $this = $(this);
			var $link = $this.find("a");
			var href = $link.attr("href");
			$this.attr("title", href);
			var $title = $(this).attr("title");
			var temp = $(".g-content-service .main .service-item").attr("id"); 
			if($title == temp) {
				$this.siblings("li").removeClass("current");
				$this.addClass("current");
			}
		})
	</script>
</body>
</html>