<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务 | 数字图片湖北 </title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<link rel="shortcut icon" href="{{baseurl}}/theme/{{theme}}/images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/reset.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/base_block.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/module.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/pages.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/response.css">
	<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
</head>
<body>
    {% include 'SkatingCmsBundle:Front/blocks:header.html.twig' %}

    {% include 'SkatingCmsBundle:Front/blocks:filter.html.twig' %}

	{% block maincontent %}
	<div class="g-content-service">
		<div class="content-service-wrap">
			<div class="content-service container clearfix">
				<div class="left">
					<h2>产品服务项目</h2>
					<ul>
						<li class="current"><i></i><a href="javascript">画册影集</a></li>
						<li><i></i><a href="javascript">纪录跟拍</a></li>
						<li><i></i><a href="javascript">摄影培训</a></li>
						<li><i></i><a href="javascript">定制摄影</a></li>
						<li><i></i><a href="javascript">商业广告</a></li>
						<li><i></i><a href="javascript">航拍</a></li>
						<li><i></i><a href="javascript">艺术品翻拍</a></li>
					</ul>
				</div>
				<div class="main">
					<!-- 摄影图集 begin -->
					<div class="service-item service-1">
						<div class="row row-1">
							<h2>图册影集</h2>
							<div class="content">
								<div class="display">
									<img src="../../images/service/service_item/display_1.jpg" alt="展示">
								</div>
								<div class="text">
									<p>
										各种文化创意产品的制作销售，比如制作摄影作品的明信片、海报、喷绘，制作各类特色相框等。某些湖北各市县举办活动需要的卡片、礼品包装的设计，配图选择等。
									</p>
									<p>
										经验丰富的排版专员，为您定制图册影集的设计服务我们使用业界领先的爱普生艺术微喷机+日本原装9色墨水组合，确保最高品质的色彩。
									</p>
									<p>
										利用自身已有资源，制作相关产品，如，抗战胜利60周年，利用老照片资源，制作相关明信片。围绕相关活动、策划，制作周边产品。如，为摄天下的外拍、扫街活动提供纪念影集、画册。
									</p>
									<p>
										订制化服务，根据客户具体要求，提供摄影服务及相关产品一条龙服务；或客户自己提供影像资料，为其提供版式、印刷等后续服务。
									</p>
								</div>
							</div>
						</div>
						<div class="row row-2">
							<h2>成品展示</h2>
							<div class="content">
								<div class="product">
									<ul>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="../../images/service/service_item/content_1_1.jpg" alt="成品展示"></a></li>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="../../images/service/service_item/content_1_2.jpg" alt="成品展示"></a></li>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="../../images/service/service_item/content_1_3.jpg" alt="成品展示"></a></li>
										<li><a href="javascript:;" title="点击查看大图"><img class="preview-img" src="../../images/service/service_item/content_1_4.jpg" alt="成品展示"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于图片影集定制服务想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
					<!-- 摄影图集 end -->
					<!-- 记录跟拍 begin -->
					<div class="service-item service-2">
						<div class="row row-1">
							<h2>大型工程节点</h2>
							<div class="content">
								<div class="text">
									<p>
										我们提供针对大型工程的长期跟踪拍摄服务，专业摄影师可从开工至完工定期到工程现场进行多角度拍摄，同时配合航拍，全方位展现工程的宏伟壮观。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_2_1.jpg" alt="大型工程节点"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_2_2.jpg" alt="大型工程节点"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_2_3.jpg" alt="大型工程节点"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_2_4.jpg" alt="大型工程节点"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- <div class="row row-2">
							<h2>区域经济</h2>
							<div class="content">
							</div>
						</div> -->
						<div class="row row-3">
							<h2>节庆活动</h2>
							<div class="content">
								<div class="text">
									<p>
										我们提供全画幅摄影服务，由资深摄影师全程拍摄，选用Canon6D以上全画幅相机，配备专业的红圈镜头，全时捕捉每一个动人细节。同时提供高清摄像服务，由资深录像师跟拍，选用SONY A7S以上全高清单反摄录机。经验丰富的摄影师将为您的每一个精彩瞬间而努力。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_2_5.jpg" alt="节庆活动"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_2_6.jpg" alt="节庆活动"></a>
										</li>
									</ul>
								</div>	
							</div>
						</div>
						<div class="row contact">
							<p>关于纪录跟拍服务想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
					<!-- 记录跟拍 end-->
					<!-- 培训信息 begin -->
					<div class="service-item service-3">
						<div class="row row-1">
							<h2>培训信息</h2>
							<div class="info-list clearfix">
								<div class="info-item">
									<div class="img-box">
										<img src="../../images/service/service_item/content_3_1.jpg" alt="培训信息">
									</div>
									<dl>
										<dt>摄影基础概论、相机的基本操作</dt>
										<dd>主讲人：周健</dd>
										<dd>时间：12月9日 19:00-21:30</dd>
										<dd>地点：武昌中北路洪山广场楚天都市花园D座22A</dd>
									</dl>
								</div>
								<div class="info-item">
									<div class="img-box">
										<img src="../../images/service/service_item/content_3_2.jpg" alt="培训信息">
									</div>
									<dl>
										<dt>摄影构图、摄影用光</dt>
										<dd>主讲人：张贵洪</dd>
										<dd>时间：12月9日 15:00-17:00</dd>
										<dd>地点：武昌中北路洪山广场楚天都市花园D座22A</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="row row-2">
							<h2>精彩分享</h2>
							<div class="content">
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_3_3.jpg" alt="精彩分享"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_3_4.jpg" alt="精彩分享"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_3_5.jpg" alt="精彩分享"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_3_6.jpg" alt="精彩分享"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- 培训信息  end -->
					<!-- 定制摄影  begin -->
					<div class="service-item service-4">
						<div class="row row-1">
							<h2>定制项目展示</h2>
							<div class="content">
								<div class="text">
									<p>
										我们采用非影楼标准流程，完全按照不同客户的个人气质特征、图片用途，为客户量身定制商业拍摄。拍摄项目包括：企业家的个人形象片，艺术家的个人形象片，时尚人士的个人写真，热爱生活人士的创意情侣婚纱，以及活动定制。
									</p>
									<p>
										湖北画报以拍摄时尚杂志时装大片的手法，提供包括前期创意，沟通策划拍摄方案，制定拍摄脚本，高品质拍摄，精致的后期制作，如有必要还提供专业设计和印刷等服务，专为有品位、追求时尚的人士打造高端私人定制摄影服务，提高摄影品质，凸显尊贵地位。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_4_1.jpg" alt="成品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_4_2.jpg" alt="成品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_4_3.jpg" alt="成品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_4_4.jpg" alt="成品展示"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于活动定制想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
					<!-- 定制摄影 end-->
					<!-- 商业广告 begin -->
					<div class="service-item service-5">
						<div class="row row-1">
							<h2>产品展示</h2>
							<div class="content">
							    <div class="text">
									<p>
										我们致力于为企业提供全面、丰富的网络视觉解决方案。拍摄风格多样新颖，不断超越自我。让每一位客人都能焕发闪耀的光彩是我们的目标职责！
									</p>
									<p>
										湖北画报一直致力于企业、团体、机构的商业摄影等方面的品牌设计塑造工作，帮助企业的产品得到最好的呈现。在发展过程中，我们与业内专家及知名公司进行合作，并受众多国际品牌委托设计合作，取得良好的品牌效应。伴随客户成长，见证市场发展与变革,为所有谋求长远发展的中大小型企业提供专业化的设计服务。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_1.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_2.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_3.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_4.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_5.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_6.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_7.jpg" alt="产品展示"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_5_8.jpg" alt="产品展示"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于商业广告服务想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
					<!-- 商业广告 end -->
					<!-- 航拍 begin -->
					<div class="service-item service-6">
						<div class="row row-1">
							<h2>风光航拍</h2>
							<div class="content">
								<div class="display">
									<img src="../../images/service/service_item/display_6.jpg" alt="展示">
								</div>
								<div class="text">
									<p>
										服务范围包括厂房航拍、楼盘航拍、园林航拍、旅游景区航拍等。我们曾和多家企事业合作，使用安全、稳定的航拍设备为其拍摄宣传片，经验丰富，航拍画面质量高，广受好评。
									</p>
									<p>
										我们为客户提供全方位、多价位的风光航拍选项。同时提供多种航拍飞行器，客户可根据拍摄要求和预算来选择。我们还为客户提供专业意见，制定性价比高、适用客户项目的飞行方案。为了保证您的拍摄物有所值，我们将忠实、客观地评估您的项目，给予合理的建议。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_1.jpg" alt="风光航拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_2.jpg" alt="风光航拍"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row row-2">
							<h2>活动航拍</h2>
							<div class="content">
								<div class="text">
									<p>
										服务范围包括大型户外活动航拍、晚会航拍、婚礼航拍等。我们拥有多名经验丰富的摄影师和飞机操控手，平均从业经验在五年以上。活动航拍采用中型四旋翼无人机（配备运动型4k相机），可以对活动现场进行高清航拍直播。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_3.jpg" alt="活动航拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_4.jpg" alt="活动航拍"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于航拍服务想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
					<!-- 航拍 end -->
					<!-- 艺术品翻拍 begin -->
					<div class="service-item service-7">
						<div class="row row-1">
							<h2>书画翻拍</h2>
							<div class="content">
								<div class="display">
									<img src="../../images/service/service_item/display_7.jpg" alt="展示"></div>
								<div class="text">
									<p>服务范围包括翻拍书法、水墨画、油画、水彩画、版画等。我们曾与数十个出版、收藏机构合作，经验丰富。</p>
									<p>
										我们拥有独立影棚，可拍摄巨幅书画作品；同时拥有超大金属板工作墙，配合强力磁铁可平整吸附书画作品；还配有专业闪灯照明，准确控制曝光，能精准还原书画作品的真实色彩。
									</p>
									<p>同时配有专业调图师，色彩还原高，层次丰富，正常印刷即可达到高档画册水准。</p>
								</div>
							</div>
						</div>
						<div class="row row-2">
							<h2>文玩翻拍</h2>
							<div class="content">
								<div class="text">
									<p>
										服务范围包括翻拍玉器、瓷器、杂项等。湖北画报社拥有专业的摄影棚和多种摄影机型、摄影灯、外拍灯等专业设备，拍摄质量高，可直接用于印刷。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_1.jpg" alt="文玩翻拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_2.jpg" alt="文玩翻拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_3.jpg" alt="文玩翻拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_4.jpg" alt="文玩翻拍"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row row-3">
							<h2>文玩翻拍</h2>
							<div class="content">
								<div class="text">
									<p>
										服务范围包括翻拍玉器、瓷器、杂项等。湖北画报社拥有专业的摄影棚和多种摄影机型、摄影灯、外拍灯等专业设备，拍摄质量高，可直接用于印刷。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_1.jpg" alt="文玩翻拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_2.jpg" alt="文玩翻拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_3.jpg" alt="文玩翻拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_7_4.jpg" alt="文玩翻拍"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>
								关于艺术品翻拍服务想要了解更多？
								<a href="javascript:;" target="_blank">联系我们</a>
							</p>
						</div>
					</div>
					<!-- 艺术品翻拍 end -->
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

    {% include 'SkatingCmsBundle:Front/blocks:footer.html.twig' %}
	<script src="{{baseurl}}/theme/{{theme}}/js/main.min.js"></script>
	<script src="{{baseurl}}/theme/{{theme}}/js/module.min.js"></script>
	<script type="text/javascript" >
		$(document).ready(imgView(".g-content-service .service-item .preview-img"));
	</script>
</body>
</html>