<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务 | 数字图片湖北 </title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<link rel="shortcut icon" href="{{baseurl}}/theme/{{theme}}/images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/reset.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/base_block.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/module.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/pages.min.css">
	<link rel="stylesheet" href="{{baseurl}}/theme/{{theme}}/css/response.css">
	<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
</head>
<body>
    {% include 'SkatingCmsBundle:Front/blocks:header.html.twig' %}

    {% include 'SkatingCmsBundle:Front/blocks:filter.html.twig' %}

	{% block maincontent %}
	<div class="g-content-service">
		<div class="content-service-wrap">
			<div class="content-service container clearfix">
				<div class="left">
					<h2>产品服务项目</h2>
					<ul>
						<li><i></i><a href="service_1_atlas.html">画册影集</a></li>
						<li><i></i><a href="service_2_documentary.html">纪录跟拍</a></li>
						<li><i></i><a href="service_3_training.html">摄影培训</a></li>
						<li><i></i><a href="service_4_custom.html">定制摄影</a></li>
						<li><i></i><a href="service_5_advertisement.html">商业广告</a></li>
						<li class="current"><i></i><a href="service_6_aerial.html">航拍</a></li>
						<li><i></i><a href="service_7_recopy.html">艺术品翻拍</a></li>
					</ul>
				</div>
				<div class="main">
					<div class="service-item service-6">
						<div class="row row-1">
							<h2>风光航拍</h2>
							<div class="content">
								<div class="display">
									<img src="../../images/service/service_item/display_6.jpg" alt="展示">
								</div>
								<div class="text">
									<p>
										服务范围包括厂房航拍、楼盘航拍、园林航拍、旅游景区航拍等。我们曾和多家企事业合作，使用安全、稳定的航拍设备为其拍摄宣传片，经验丰富，航拍画面质量高，广受好评。
									</p>
									<p>
										我们为客户提供全方位、多价位的风光航拍选项。同时提供多种航拍飞行器，客户可根据拍摄要求和预算来选择。我们还为客户提供专业意见，制定性价比高、适用客户项目的飞行方案。为了保证您的拍摄物有所值，我们将忠实、客观地评估您的项目，给予合理的建议。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_1.jpg" alt="风光航拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_2.jpg" alt="风光航拍"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row row-2">
							<h2>活动航拍</h2>
							<div class="content">
								<div class="text">
									<p>
										服务范围包括大型户外活动航拍、晚会航拍、婚礼航拍等。我们拥有多名经验丰富的摄影师和飞机操控手，平均从业经验在五年以上。活动航拍采用中型四旋翼无人机（配备运动型4k相机），可以对活动现场进行高清航拍直播。
									</p>
								</div>
								<div class="product">
									<ul>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_3.jpg" alt="活动航拍"></a>
										</li>
										<li>
											<a href="javascript:;" title="点击查看大图">
												<img class="preview-img" src="../../images/service/service_item/content_6_4.jpg" alt="活动航拍"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row contact">
							<p>关于航拍服务想要了解更多？
							<a href="javascript:;" target="_blank">联系我们</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}

    {% include 'SkatingCmsBundle:Front/blocks:footer.html.twig' %}
	<script src="{{baseurl}}/theme/{{theme}}/js/main.min.js"></script>
	<script src="{{baseurl}}/theme/{{theme}}/js/module.min.js"></script>
	<script type="text/javascript" >
		$(document).ready(imgView(".g-content-service .service-item .preview-img"));
	</script>
</body>
</html>